<%- include('./partials/header.ejs')%>
<link rel="stylesheet" href="css/styles.css">
<title><%= title%></title>
</head>
<body>
    <div class="logo">
        <%- include('./partials/logo.ejs')%>
    </div>
    <div class="flex">
        <div>
            <%- include('./partials/sidebar.ejs')%>
        </div>
        <div class="blog-box ">

            <div class="flex g-10 choices">
                <a href="/addnote" class="link">
                    <div class="flex g-10 choice">
                    
                        <h2><i class="fas fa-plus"></i></h2>
                        <h2>Add Note</h2>
                        
                        
                    </div>
                </a>
                
                <a href="/blog" class="link">
                    <div class="choice flex ">
                        <h2 class="m-5"><i class="fas fa-clipboard"></i></h2>
                        <h2 class="p-side">All</h2>
                    </div>
                </a>
                
                <a href="/favourites" class="link">
                    <div class="flex g-10 choice">
                        <h2><i class="fa-regular fa-heart"></i></h2>
                        <h2>Favourite</h2>
                    </div>
                </a>
                
                
            </div>
            <div class="all-notes">
                <% data.forEach((note) => { %>   
                <div class="flex-notes">
                    <div class="flex g-10 m-2">
                        <h2>
                            <%= note.topic %>
                        </h2>
                        <h2><%= note.username %></h2>
                    </div>
                    <div class="overflow">
                        <%= note.content %>
                    </div>
                    <div class="likes">
                        <form action="/update/<%= note._id %>" method="get">
                            <button type="submit" class="submit">
                                <i class="fas fa-pen-to-square blue"></i>
                                
                            </button>
                            
                        </form>
                        <% if(note.like) { %> 
                        <form action="/favourite/<%=note._id %>" method="post">
                            <button type="submit" class="submit">
                                <i class="fas fa-heart red"></i></fa-heart>
                            </button>
                        </form>
                        <%} else{ %> 
                            <form action="/favourite/<%=note._id %>" method="post">
                                <button type="submit" class="submit">
                                    <i class="far fa-heart"></i></fa-heart>
                                </button>
                            </form> 
                        <%}%>
                        
                        <form action="/delete/<%=note._id %>" method="post">
                            <button type="submit" class="submit">
                                <i class="fas fa-trash blue"></i>
                            </button>
                        </form>
                        
                        
                    </div>
                </div>
                <%}) %>
                
            </div>
        </div>
    </div>

    <%- include('./partials/footer.ejs')%>  